# Telegram export data
data

# Byte-compiled / optimized / DLL files
__pycache__

# Jupyter Notebook
.ipynb_checkpoints

# l10n
*.pot
*.mo

# Environments
env
venv
*.lock

# Testing
.coverage

# Build files
build
.doit.db*
