[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
jinja2 = "*"
matplotlib = "*"
pytz = "*"

[dev-packages]
flake8 = "*"
pydocstyle = "*"
sphinx = "*"
babel = "*"
doit = "*"
build = "*"
coverage = "*"
setuptools = "*"

[requires]
python_version = "3"
