<!DOCTYPE html>
<html>
<head>
    <title>{{ text.title }}: @{{ login }}</title>
    <link rel="stylesheet" type="text/css" href="{{ staticpath }}/style.css">
</head>
<body>
    <h1 class="header">{{ text.title }}</h1>
    <p>{{ text.user }}:
    <a href="https://t.me/{{ login }}">
        <em>@{{ login }}</em>
    </a>
    {% for feature, img in features.items() %}
    <div class="feature">
        <h3 class="featurename">{{ feature }}</h3>
        <img class="plot" src={{ img }}>
    </div>
    {% else %}
    <p> <em>{{ text.empty_list }}</em>
    {% endfor %}
</body>
</html>
