<!DOCTYPE html>
<html>
<head>
    <title>{{ text.title }}: @{{ login }}</title>
    <link rel="stylesheet" type="text/css" href="{{ files_dir }}/style.css">
</head>
<body>
    <h1 class="header">{{ text.title }}</h1>
    <ul>
        <li>
            {{ text.user }}:
            <a href="https://t.me/{{ login }}"> <em>@{{ login }}</em> </a>
        </li>
    </ul>
    {% for feat, featstat in features.items() %}
        {% for chat, chatstat in featstat.items() %}
            {% for type, res in chatstat.items() %}
    <div class="feature">
        <h3 class="featurename">{{ feat }}_{{ chat }}_{{ type }}</h3>
                {% if res is number %}
        <h1>{{ res|round(3) }}</h1>
                {% else %}
        <img class="plot" src="{{ files_dir }}/{{ res }}">
                {% endif %}
    </div>
            {% endfor %}
        {% endfor %}
    {% else %}
    <p> <em>{{ text.empty_list }}</em>
    {% endfor %}
    <p align="right"> <a href="#">{{ text.to_top }}</a>
</body>
</html>
